In [1]:
import pandas as pd

# obtener sinonimos

In [7]:
synonyms=dict()

In [8]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [9]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [10]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [11]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [12]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [13]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [14]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                            Synonym
0             sale  {sale, sales_agreement, sales_event, cut_rate_...
1             make  {relieve_oneself, produce, urinate, pretend, p...
2              pay  {pay_up, ante_up, compensate, fee, remuneratio...
3            yukos                                            {yukos}
4               27                          {27, twenty_seven, xxvii}
...            ...                                                ...
98153         wall  {wall, chandelier, paries, rampart, surround, ...
98154  snowboarder                                      {snowboarder}
98155         leap  {saltation, pronk, jump_off, bound, leaping, p...
98156   fearlessly              {dauntlessly, intrepidly, fearlessly}
98157         snow  {blow, snowfall, snow, coke, charlie, baron_sn...

[98158 rows x 2 columns]

In [15]:
for index,strings in df_syn.iterrows():
    synonyms[strings['word']]=strings['Synonym']

In [16]:
len(synonyms)

25181

In [17]:
df = pd.DataFrame([[key, synonyms[key]] for key in synonyms.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# Creación de pickle con hiperonimos

In [58]:
hyperonimos=dict()

In [59]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [60]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [61]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [62]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [63]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [64]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyperonympickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [65]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {reduced_price, cheap_products, agreement, sto...
1                make  {kind, identification, doing, brand, utility, ...
2                 pay  {money_owed, agreement, job_check, employee_mo...
3               yukos                                    {yuko, company}
4                  27                                                 {}
...               ...                                                ...
104934           lave  {launder, pour, hang, rest, crowd, belive, lad...
104935         remain  {still_here, human_being, await, still, whats,...
104936  take_breather  {pause, relax, catch_one's_breath, get_some_ai...
104937   eternal_rest                                                 {}
104938      remaining                                  {remain, remnant}

[104939 rows x 2 columns]

In [66]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [67]:
len(hyperonimos)

22365

In [68]:
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Hyponyms

In [69]:
hyponyms=dict()

In [70]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [71]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [72]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [73]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [74]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [75]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [76]:
df_syn = df_syn.reset_index(drop=True)
df_syn

,word,Hyponym
0,sale,"{presale, upsale, nonsale, salesperson, condit..."
1,make,"{matchless, makable, make_king, create_by_ment..."
2,pay,"{go_for_haircut, payware, paypal, keep_things_..."
3,yukos,{}
4,27,{}
...,...,...
115052,baron_snow_of_leicester,{}
115053,snowfall,{snowfalls}
115054,coke,"{coky, cokehead, biocoke, cokeless, mexicoke, ..."
115055,bamboozle,"{bamboozled, bamboozling, bamboozles, bamboozl..."
115056,charlie,"{charley, charlieplexing, charlies, charley_ho..."

In [77]:
for index,strings in df_syn.iterrows():
    hyponyms[strings['word']]=strings['Hyponym']

In [78]:
len(hyponyms)

23424

In [79]:
df = pd.DataFrame([[key, hyponyms[key]] for key in hyponyms.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# cargar los conjuntos de sinonimia

In [18]:
dict_syns = dict()

In [19]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {ante_up, compensate, pay_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {xxvii, 27, twenty_seven}
...               ...                                                ...
25176         hospice                                          {hospice}
25177      prformance                                       {prformance}
25178       interlace                      {interlace, intertwine, lock}
25179       chilldren                                        {chilldren}
25180  absentmindedly  {inattentively, absently, absentmindedly, abst...

[25181 rows x 2 columns]

In [20]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [21]:
len(dict_syns)

25181

# agregar diccionario de sinonimos del SNLI DEV y TEST

In [22]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [23]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [24]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {pay_up, compensate, ante_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {27, twenty_seven, xxvii}
...               ...                                                ...
236374        gondola             {car, gondola, cable_car, gondola_car}
236375         ragged                             {mean, ragged, shabby}
236376  accompaniment  {accessory, accompaniment, co_occurrence, ento...
236377       dishevel  {tousle, dishevel, jostle, tangle, ruffle, dis...
236378           kite                                     {kite, sentry}

[236379 rows x 2 columns]

In [25]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [26]:
len(dict_syns)

25181

In [27]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# actualizar hyperonimos con SNLI DEV y TEST

In [43]:
hyperonimos=dict()

In [44]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                      word                                          Hyperonym
0                     sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                     make  {move, means_manufacture, name, excrete, trave...
2                      pay  {monies, give_fee, exchange_money, work_money,...
3                    yukos                                    {company, yuko}
4                       27                                                 {}
...                    ...                                                ...
22360           okra_plant        {vegetable_plant, crop_plant, mallow_order}
22361  hibiscus_esculentus                                                 {}
22362                gumbo  {vegetable, capsule, edible, okra, soil, plant...
22363        lady's_finger  {branchia, potato, kidney_vetch, cake, lobster...
22364               bhindi                           {edible, capsule, plant}

[22365 rows x 2 columns]

In [46]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [47]:
len(hyperonimos)

22365

In [48]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [49]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [50]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                make  {move, means_manufacture, name, excrete, trave...
2                 pay  {monies, give_fee, exchange_money, work_money,...
3               yukos                                    {company, yuko}
4                  27                                                 {}
...               ...                                                ...
459035  social_dancer                                                 {}
459036  terpsichorean                      {terpsichore, dance, dancing}
459037  exotic_dancer      {belly_dancer, exotic, pole_dancer, stripper}
459038    terpsichore  {muses, dramatic, dance, mnemosyne, chorus, as...
459039           kite  {soar, flier, deben, has_string, brill, child,...

[459040 rows x 2 columns]

In [51]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [52]:
len(hyperonimos)

27765

In [53]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Actualizar Hyponyms con SNLI TEST y DEV

In [54]:
hyponimos=dict()

In [55]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

                  word                                            Hyponym
0                 sale  {rummage_sale, salesbook, for_sale, saleabilit...
1                 make  {makeweight, fashion, lay_down, incorporate, m...
2                  pay  {paidest, paysite, spend, prepay, underpay, re...
3                yukos                                                 {}
4                   27                                                 {}
...                ...                                                ...
23419        inform_on                                                 {}
23420       fingerbang  {fingerbangs, fingerbanging, fingerbanged, fin...
23421           heyday                          {heydays, heydey, hayday}
23422  king_of_insects                                                 {}
23423        bee_block                                                 {}

[23424 rows x 2 columns]

In [56]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [57]:
len(hyponimos)

23424

In [58]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [59]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [60]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                word                                            Hyponym
0               sale  {rummage_sale, salesbook, for_sale, saleabilit...
1               make  {makeweight, fashion, lay_down, incorporate, m...
2                pay  {paidest, paysite, spend, prepay, underpay, re...
3              yukos                                                 {}
4                 27                                                 {}
...              ...                                                ...
483592  romantically                                                 {}
483593          teal   {bluewing, garganey, tealness, teals, greenwing}
483594        busker                                          {buskers}
483595        tousle  {touzle, tousled, untousle, tousles, tousle_he...
483596          kite  {kitefin, parakite, check_kiting, sport_kite, ...

[483597 rows x 2 columns]

In [61]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [62]:
len(hyponimos)

30514

In [63]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# agregar sinonimos del TRAIN SNLI

In [12]:
import pandas as pd

In [13]:
dict_syns=dict()

In [14]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                word                                            Synonym
0               sale  {sales_agreement, cut_rate_sale, sales_event, ...
1               make  {piddle, cook, pee_pee, draw, drive, construct...
2                pay  {give, make_up, yield, pay_off, compensation, ...
3              yukos                                            {yukos}
4                 27                          {xxvii, twenty_seven, 27}
...              ...                                                ...
73831    guesstimate  {guesstimate, ballpark_figure, guestimate, edu...
73832            cgf                                              {cgf}
73833  complicatedly                                    {complicatedly}
73834         freira                                           {freira}
73835       handwash                              {handwash, hand_wash}

[73836 rows x 2 columns]

In [15]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [16]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [17]:
df_syn = df_syn.reset_index(drop=True)
df_syn

             word                                            Synonym
0            sale  {sales_agreement, cut_rate_sale, sales_event, ...
1            make  {piddle, cook, pee_pee, draw, drive, construct...
2             pay  {give, make_up, yield, pay_off, compensation, ...
3           yukos                                            {yukos}
4              27                          {xxvii, twenty_seven, 27}
...           ...                                                ...
1808000         ;                                                {;}
1808001         (                                                {(}
1808002         )                                                {)}
1808003     froma                                            {froma}
1808004  themself  {emself, hirself, perself, thonself, himself, ...

[1808005 rows x 2 columns]

In [18]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [19]:
len(dict_syns)

74100

In [20]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# actualizar hiperonimos de SNLI TRAIN

In [21]:
hyperonimos=dict()

In [22]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                word                                          Hyperonym
0               sale  {sold, fifty, items, greater_manchester, cheap...
1               make  {recognise, means_manufacture, promotion, crea...
2                pay  {profitable, bill, receiving_money, financial,...
3              yukos                                    {company, yuko}
4                 27                                                 {}
...              ...                                                ...
98823    guesstimate                                  {guess, estimate}
98824            cgf                                                 {}
98825  complicatedly                                      {complicated}
98826         freira                                                 {}
98827       handwash                                       {wash, hand}

[98828 rows x 2 columns]

In [23]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [24]:
len(hyperonimos)

98828

In [25]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [26]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                  word                                          Hyperonym
0                 sale  {sold, fifty, items, greater_manchester, cheap...
1                 make  {recognise, means_manufacture, creating_someth...
2                  pay  {profitable, bill, receiving_money, financial,...
3                yukos                                    {company, yuko}
4                   27                                                 {}
...                ...                                                ...
2654036     surjective                                                 {}
2654037              (                                                 {}
2654038              )                                                 {}
2654039  from_each_one                                                 {}
2654040          froma                                                 {}

[2654041 rows x 2 columns]

In [27]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [28]:
len(hyperonimos)

99102

In [29]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# agregar hiponimos del SNLI TRAIN

In [30]:
hyponimos=dict()

In [31]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

             word                                            Hyponym
0            sale  {rummage_sale, salesperson, salesman, selloff,...
1            make  {arouse, newmake, remake, recreate, institute,...
2             pay  {paystreak, refund, payline, paypoint, paying,...
3           yukos                                                 {}
4              27                                                 {}
...           ...                                                ...
89420  obstetrics                   {fetology, perinatology, ob_gyn}
89421       intoa                                                 {}
89422       aross                                                 {}
89423      kimora                                                 {}
89424      dogwas                                                 {}

[89425 rows x 2 columns]

In [32]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [33]:
len(hyponimos)

89425

In [34]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [35]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                   word                                            Hyponym
0                  sale  {rummage_sale, salesperson, salesman, selloff,...
1                  make  {arouse, newmake, remake, recreate, institute,...
2                   pay  {paystreak, refund, payline, paypoint, paying,...
3                 yukos                                                 {}
4                    27                                                 {}
...                 ...                                                ...
2959583         why_not                                                 {}
2959584        how_come                                                 {}
2959585       wherefore        {wherefor, wherefores, whys_and_wherefores}
2959586        what_for                                        {what_fors}
2959587  what's_up_with                                                 {}

[2959588 rows x 2 columns]

In [36]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [38]:
len(hyponimos)

89779

In [39]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# Agregar sinonimos del corpus RTEGLUE

In [3]:
import pandas as pd

In [4]:
dict_syns=dict()

In [5]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                word                                            Synonym
0               sale  {sales_agreement, cut_rate_sale, sales_event, ...
1               make  {piddle, cook, pee_pee, draw, drive, construct...
2                pay  {give, make_up, yield, pay_off, compensation, ...
3              yukos                                            {yukos}
4                 27                          {xxvii, twenty_seven, 27}
...              ...                                                ...
73831    guesstimate  {guesstimate, ballpark_figure, guestimate, edu...
73832            cgf                                              {cgf}
73833  complicatedly                                    {complicatedly}
73834         freira                                           {freira}
73835       handwash                              {handwash, hand_wash}

[73836 rows x 2 columns]

In [6]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [7]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [8]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo6/RTEGLUE/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [9]:
df_syn = df_syn.reset_index(drop=True)
df_syn

           word                                            Synonym
0          sale  {sales_agreement, cut_rate_sale, sales_event, ...
1          make  {piddle, cook, pee_pee, draw, drive, construct...
2           pay  {give, make_up, yield, pay_off, compensation, ...
3         yukos                                            {yukos}
4            27                          {xxvii, twenty_seven, 27}
...         ...                                                ...
58337    unless                              {unless, at_least_if}
58338  although   {notwithstanding, although, though, even_though}
58339    blithe                            {light_hearted, blithe}
58340       why  {why, why_not, wherefore, what_for, how_come, ...
58341   whereas                                          {whereas}

[58342 rows x 2 columns]

In [10]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [11]:
len(dict_syns)

73836

In [10]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# Agregar hiperonimos del RTEGLUE

In [11]:
hyperonimos=dict()

In [12]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                  word                                          Hyperonym
0                 sale  {bargain_shopping, discount_event, at_market, ...
1                 make  {establish, constitute, pass, perpetrate, craf...
2                  pay  {credit, shelling, earned_income, earnings_wag...
3                yukos                                    {yuko, company}
4                   27                                                 {}
...                ...                                                ...
46519           peptic  {agent, digestion, pepsin, promote, digestive,...
46520         ofttimes                    {frequently, oft, times, often}
46521  as_often_as_not  {frequently, always, more_often_than_not, more...
46522        ljubljana                                   {slovenia, city}
46523           parkin  {parkins, protein, mutation, per, parkinson, t...

[46524 rows x 2 columns]

In [13]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [14]:
len(hyperonimos)

46524

In [15]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [16]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo6/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [17]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                          Hyperonym
0             sale  {bargain_shopping, discount_event, at_market, ...
1             make  {establish, constitute, pass, perpetrate, craf...
2              pay  {credit, shelling, earned_income, earnings_wag...
3            yukos                                    {yuko, company}
4               27                                                 {}
...            ...                                                ...
93330       blithe                                            {bliss}
93331          why  {reason, thy, eurovision_song_contest_entry, a...
93332    per_annum                                                 {}
93333      whereas                                            {where}
93334  for_because                                                 {}

[93335 rows x 2 columns]

In [18]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [19]:
len(hyperonimos)

46744

In [20]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# agregar hiponimos del RTEGLUE

In [21]:
hyponimos=dict()

In [22]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

             word                                            Hyponym
0            sale  {fire_sale, upsale, auction, telesale, white_s...
1            make  {establish, upmake, meck, derive, matchmake, y...
2             pay  {buy_for_loved_one, postpay, go_for_haircut, p...
3           yukos                                                 {}
4              27                                                 {}
...           ...                                                ...
52305     zikuski                                                 {}
52306  disjointed      {nondisjointed, disjointedly, disjointedness}
52307      peptic  {bradypeptic, acidopeptic, peptics, eupeptic, ...
52308   ljubljana                            {ljubljanan, lyublyana}
52309      parkin                                          {parkins}

[52310 rows x 2 columns]

In [23]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [24]:
len(hyponimos)

52310

In [25]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [26]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo6/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [27]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Hyponym
0                sale  {fire_sale, upsale, auction, telesale, white_s...
1                make  {establish, upmake, derive, matchmake, meck, y...
2                 pay  {buy_for_loved_one, postpay, go_for_haircut, p...
3               yukos                                                 {}
4                  27                                                 {}
...               ...                                                ...
104750           yinz                                     {yins, yinzer}
104751         blithe  {blitheful, blither, blitheness, blithen, blit...
104752            why  {whies, whyness, why_in_god's_name, why_not, s...
104753        whereas                                        {whereases}
104754  compared_with                                                 {}

[104755 rows x 2 columns]

In [28]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [29]:
len(hyponimos)

52399

In [30]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# agregar sinonimos de MultiNLI

In [2]:
dict_syns=dict()

In [3]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

            word                                            Synonym
0           sale  {sale, sales_agreement, cut_rate_sale, sales_e...
1           make  {lay_down, construction, piddle, relieve_onese...
2            pay  {pay_off, yield, wage, compensate, pay_up, fee...
3          yukos                                            {yukos}
4             27                          {twenty_seven, xxvii, 27}
...          ...                                                ...
64556  unpleased                                        {unpleased}
64557      intoa                                            {intoa}
64558      aross                                            {aross}
64559     kimora                                           {kimora}
64560     dogwas                                           {dogwas}

[64561 rows x 2 columns]

In [4]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [5]:
for i in range(40):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            print(i+1)

In [6]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo7/MultiNLI/DEVM/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [7]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Synonym
0                sale  {sale, sales_agreement, cut_rate_sale, sales_e...
1                make  {lay_down, construction, piddle, relieve_onese...
2                 pay  {pay_off, yield, wage, compensate, pay_up, fee...
3               yukos                                            {yukos}
4                  27                          {27, xxvii, twenty_seven}
...               ...                                                ...
2496637    oftentimes  {commonly, regularly, oftentime, ofttimes, oft...
2496638       acidity      {sharpness, acidity, sourness, acidulousness}
2496639       dormant  {dormant, sleeping, latent, abeyant, inactive,...
2496640      handwash                              {hand_wash, handwash}
2496641  irrationally                                     {irrationally}

[2496642 rows x 2 columns]

In [8]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [9]:
len(dict_syns)

73836

In [10]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# hiperonimos de MUlitNLI

In [11]:
hyperonimos=dict()

In [12]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

            word                                          Hyperonym
0           sale  {discount_event, products_cheap, good_price, d...
1           make  {disposition, interpret, car_model, behave, ut...
2            pay  {digest, employment_compensation, monetary_att...
3          yukos                                    {yuko, company}
4             27                                                 {}
...          ...                                                ...
87418  unpleased                                          {pleased}
87419      intoa                                                 {}
87420      aross                                                 {}
87421     kimora                                                 {}
87422     dogwas                                                 {}

[87423 rows x 2 columns]

In [13]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [14]:
len(hyperonimos)

87423

In [15]:
for i in range(40):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [16]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo7/MultiNLI/DEVM/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [17]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                     word                                          Hyperonym
0                    sale  {discount_event, products_cheap, good_price, d...
1                    make  {disposition, car_model, interpret, behave, ut...
2                     pay  {digest, employment_compensation, monetary_att...
3                   yukos                                    {yuko, company}
4                      27                                                 {}
...                   ...                                                ...
3386310     asthma_attack               {illness, breathing_with_difficulty}
3386311        wheeziness                                  {wheezy, symptom}
3386312  bronchial_asthma                                                 {}
3386313      defatigation                                       {defatigate}
3386314      irrationally                                       {irrational}

[3386315 rows x 2 columns]

In [18]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [19]:
len(hyperonimos)

98828

In [20]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# hyponym de MUltNLI

In [21]:
hyponimos=dict()

In [22]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

             word                                            Hyponym
0            sale  {closeout, presale, crowdsale, going_out_of_bu...
1            make  {generate, puncture, compile, matchless, overd...
2             pay  {payee, paypig, paythrough, danger_pay, pay_up...
3           yukos                                                 {}
4              27                                                 {}
...           ...                                                ...
89420  obstetrics                   {ob_gyn, fetology, perinatology}
89421       intoa                                                 {}
89422       aross                                                 {}
89423      kimora                                                 {}
89424      dogwas                                                 {}

[89425 rows x 2 columns]

In [23]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [24]:
len(hyponimos)

89425

In [25]:
for i in range(40):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [26]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo7/MultiNLI/DEVM/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [27]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Hyponym
0                sale  {closeout, presale, crowdsale, going_out_of_bu...
1                make  {generate, puncture, matchless, compile, overd...
2                 pay  {payee, paypig, paythrough, danger_pay, pay_up...
3               yukos                                                 {}
4                  27                                                 {}
...               ...                                                ...
3450599       abeyant                                                 {}
3450600      handwash                            {handwashes, hand_wash}
3450601     hand_wash                                                 {}
3450602     predicate  {owl_ontology_property, vector_interval_slot, ...
3450603  irrationally                                                 {}

[3450604 rows x 2 columns]

In [28]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [24]:
len(hyponimos)

85025

In [25]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")