In [1]:
import pandas as pd

In [2]:
synonyms=dict()

In [47]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [48]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [49]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [50]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [51]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [52]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [53]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                            Synonym
0             sale  {sales_agreement, sale, cut_rate_sale, sales_e...
1             make  {puddle, lay, fabricate, induce, urinate, turn...
2              pay  {compensation, fee, pay_off, compensate, actio...
3            yukos                                            {yukos}
4               27                          {twenty_seven, 27, xxvii}
...            ...                                                ...
47966         wall  {surround, palisade, paries, wall, fence_in, r...
47967  snowboarder                                      {snowboarder}
47968         leap  {bound, jump, spring, pronk, saltation, pounce...
47969   fearlessly              {fearlessly, intrepidly, dauntlessly}
47970         snow  {snowfall, snow, charlie, coke, baron_snow_of_...

[47971 rows x 2 columns]

In [54]:
for index,strings in df_syn.iterrows():
    synonyms[strings['word']]=strings['Synonym']

In [55]:
len(synonyms)

11543

In [56]:
df = pd.DataFrame([[key, synonyms[key]] for key in synonyms.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# Creación de pickle con hiperonimos

In [58]:
hyperonimos=dict()

In [59]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [60]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [61]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [62]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [63]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [64]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyperonympickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [65]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {reduced_price, cheap_products, agreement, sto...
1                make  {kind, identification, doing, brand, utility, ...
2                 pay  {money_owed, agreement, job_check, employee_mo...
3               yukos                                    {yuko, company}
4                  27                                                 {}
...               ...                                                ...
104934           lave  {launder, pour, hang, rest, crowd, belive, lad...
104935         remain  {still_here, human_being, await, still, whats,...
104936  take_breather  {pause, relax, catch_one's_breath, get_some_ai...
104937   eternal_rest                                                 {}
104938      remaining                                  {remain, remnant}

[104939 rows x 2 columns]

In [66]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [67]:
len(hyperonimos)

22365

In [68]:
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Hyponyms

In [69]:
hyponyms=dict()

In [70]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [71]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [72]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [73]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [74]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [75]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [76]:
df_syn = df_syn.reset_index(drop=True)
df_syn

,word,Hyponym
0,sale,"{presale, upsale, nonsale, salesperson, condit..."
1,make,"{matchless, makable, make_king, create_by_ment..."
2,pay,"{go_for_haircut, payware, paypal, keep_things_..."
3,yukos,{}
4,27,{}
...,...,...
115052,baron_snow_of_leicester,{}
115053,snowfall,{snowfalls}
115054,coke,"{coky, cokehead, biocoke, cokeless, mexicoke, ..."
115055,bamboozle,"{bamboozled, bamboozling, bamboozles, bamboozl..."
115056,charlie,"{charley, charlieplexing, charlies, charley_ho..."

In [77]:
for index,strings in df_syn.iterrows():
    hyponyms[strings['word']]=strings['Hyponym']

In [78]:
len(hyponyms)

23424

In [79]:
df = pd.DataFrame([[key, hyponyms[key]] for key in hyponyms.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# cargar los conjuntos de sinonimia

In [26]:
dict_syns = dict()

In [27]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

            word                                            Synonym
0           sale  {sale, cut_rate_sale, sales_agreement, sales_e...
1           make  {spend_penny, name, lay_down, make_into, prete...
2            pay  {pay_up, remuneration, wage, give, pay_off, ma...
3          yukos                                            {yukos}
4             27                          {xxvii, 27, twenty_seven}
...          ...                                                ...
13023   backside  {buttocks, backside, bottom, backhouse, hindqu...
13024  swimsuite                                        {swimsuite}
13025      grnad                                            {grnad}
13026   recliner               {reclining_chair, recliner, lounger}
13027     eatery                               {eatery, restaurant}

[13028 rows x 2 columns]

In [28]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [29]:
len(dict_syns)

13028

# agregar diccionario de sinonimos del SNLI DEV y TEST

In [30]:
synonyms=dict()

In [32]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [33]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [34]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Synonym
0                sale  {sales_event, cut_rate_sale, sales_agreement, ...
1                make  {spend_penny, name, lay_down, make_into, prete...
2                 pay  {pay_up, remuneration, ante_up, give, pay_off,...
3               yukos                                            {yukos}
4                  27                          {xxvii, 27, twenty_seven}
...               ...                                                ...
236374        gondola             {cable_car, gondola, gondola_car, car}
236375         ragged                             {mean, shabby, ragged}
236376  accompaniment  {accessory, accompaniment, attendant, compleme...
236377       dishevel  {dishevel, disarray, ruffle, tangle, jostle, t...
236378           kite                                     {sentry, kite}

[236379 rows x 2 columns]

In [35]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [36]:
len(dict_syns)

14366

In [37]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# actualizar hyperonimos con SNLI DEV y TEST

In [43]:
hyperonimos=dict()

In [44]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                      word                                          Hyperonym
0                     sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                     make  {move, means_manufacture, name, excrete, trave...
2                      pay  {monies, give_fee, exchange_money, work_money,...
3                    yukos                                    {company, yuko}
4                       27                                                 {}
...                    ...                                                ...
22360           okra_plant        {vegetable_plant, crop_plant, mallow_order}
22361  hibiscus_esculentus                                                 {}
22362                gumbo  {vegetable, capsule, edible, okra, soil, plant...
22363        lady's_finger  {branchia, potato, kidney_vetch, cake, lobster...
22364               bhindi                           {edible, capsule, plant}

[22365 rows x 2 columns]

In [46]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [47]:
len(hyperonimos)

22365

In [48]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [49]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [50]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                make  {move, means_manufacture, name, excrete, trave...
2                 pay  {monies, give_fee, exchange_money, work_money,...
3               yukos                                    {company, yuko}
4                  27                                                 {}
...               ...                                                ...
459035  social_dancer                                                 {}
459036  terpsichorean                      {terpsichore, dance, dancing}
459037  exotic_dancer      {belly_dancer, exotic, pole_dancer, stripper}
459038    terpsichore  {muses, dramatic, dance, mnemosyne, chorus, as...
459039           kite  {soar, flier, deben, has_string, brill, child,...

[459040 rows x 2 columns]

In [51]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [52]:
len(hyperonimos)

27765

In [53]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Actualizar Hyponyms con SNLI TEST y DEV

In [54]:
hyponimos=dict()

In [55]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

                  word                                            Hyponym
0                 sale  {rummage_sale, salesbook, for_sale, saleabilit...
1                 make  {makeweight, fashion, lay_down, incorporate, m...
2                  pay  {paidest, paysite, spend, prepay, underpay, re...
3                yukos                                                 {}
4                   27                                                 {}
...                ...                                                ...
23419        inform_on                                                 {}
23420       fingerbang  {fingerbangs, fingerbanging, fingerbanged, fin...
23421           heyday                          {heydays, heydey, hayday}
23422  king_of_insects                                                 {}
23423        bee_block                                                 {}

[23424 rows x 2 columns]

In [56]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [57]:
len(hyponimos)

23424

In [58]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [59]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [60]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                word                                            Hyponym
0               sale  {rummage_sale, salesbook, for_sale, saleabilit...
1               make  {makeweight, fashion, lay_down, incorporate, m...
2                pay  {paidest, paysite, spend, prepay, underpay, re...
3              yukos                                                 {}
4                 27                                                 {}
...              ...                                                ...
483592  romantically                                                 {}
483593          teal   {bluewing, garganey, tealness, teals, greenwing}
483594        busker                                          {buskers}
483595        tousle  {touzle, tousled, untousle, tousles, tousle_he...
483596          kite  {kitefin, parakite, check_kiting, sport_kite, ...

[483597 rows x 2 columns]

In [61]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [62]:
len(hyponimos)

30514

In [63]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")