In [1]:
import pandas as pd

# obtener sinonimos

In [7]:
synonyms=dict()

In [8]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [9]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [10]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [11]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [12]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [13]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [14]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                            Synonym
0             sale  {sale, sales_agreement, sales_event, cut_rate_...
1             make  {relieve_oneself, produce, urinate, pretend, p...
2              pay  {pay_up, ante_up, compensate, fee, remuneratio...
3            yukos                                            {yukos}
4               27                          {27, twenty_seven, xxvii}
...            ...                                                ...
98153         wall  {wall, chandelier, paries, rampart, surround, ...
98154  snowboarder                                      {snowboarder}
98155         leap  {saltation, pronk, jump_off, bound, leaping, p...
98156   fearlessly              {dauntlessly, intrepidly, fearlessly}
98157         snow  {blow, snowfall, snow, coke, charlie, baron_sn...

[98158 rows x 2 columns]

In [15]:
for index,strings in df_syn.iterrows():
    synonyms[strings['word']]=strings['Synonym']

In [16]:
len(synonyms)

25181

In [17]:
df = pd.DataFrame([[key, synonyms[key]] for key in synonyms.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# Creación de pickle con hiperonimos

In [58]:
hyperonimos=dict()

In [59]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [60]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [61]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [62]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [63]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [64]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyperonympickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [65]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {reduced_price, cheap_products, agreement, sto...
1                make  {kind, identification, doing, brand, utility, ...
2                 pay  {money_owed, agreement, job_check, employee_mo...
3               yukos                                    {yuko, company}
4                  27                                                 {}
...               ...                                                ...
104934           lave  {launder, pour, hang, rest, crowd, belive, lad...
104935         remain  {still_here, human_being, await, still, whats,...
104936  take_breather  {pause, relax, catch_one's_breath, get_some_ai...
104937   eternal_rest                                                 {}
104938      remaining                                  {remain, remnant}

[104939 rows x 2 columns]

In [66]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [67]:
len(hyperonimos)

22365

In [68]:
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Hyponyms

In [69]:
hyponyms=dict()

In [70]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [71]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [72]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [73]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [74]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [75]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [76]:
df_syn = df_syn.reset_index(drop=True)
df_syn

,word,Hyponym
0,sale,"{presale, upsale, nonsale, salesperson, condit..."
1,make,"{matchless, makable, make_king, create_by_ment..."
2,pay,"{go_for_haircut, payware, paypal, keep_things_..."
3,yukos,{}
4,27,{}
...,...,...
115052,baron_snow_of_leicester,{}
115053,snowfall,{snowfalls}
115054,coke,"{coky, cokehead, biocoke, cokeless, mexicoke, ..."
115055,bamboozle,"{bamboozled, bamboozling, bamboozles, bamboozl..."
115056,charlie,"{charley, charlieplexing, charlies, charley_ho..."

In [77]:
for index,strings in df_syn.iterrows():
    hyponyms[strings['word']]=strings['Hyponym']

In [78]:
len(hyponyms)

23424

In [79]:
df = pd.DataFrame([[key, hyponyms[key]] for key in hyponyms.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# cargar los conjuntos de sinonimia

In [18]:
dict_syns = dict()

In [19]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {ante_up, compensate, pay_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {xxvii, 27, twenty_seven}
...               ...                                                ...
25176         hospice                                          {hospice}
25177      prformance                                       {prformance}
25178       interlace                      {interlace, intertwine, lock}
25179       chilldren                                        {chilldren}
25180  absentmindedly  {inattentively, absently, absentmindedly, abst...

[25181 rows x 2 columns]

In [20]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [21]:
len(dict_syns)

25181

# agregar diccionario de sinonimos del SNLI DEV y TEST

In [22]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [23]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [24]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {pay_up, compensate, ante_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {27, twenty_seven, xxvii}
...               ...                                                ...
236374        gondola             {car, gondola, cable_car, gondola_car}
236375         ragged                             {mean, ragged, shabby}
236376  accompaniment  {accessory, accompaniment, co_occurrence, ento...
236377       dishevel  {tousle, dishevel, jostle, tangle, ruffle, dis...
236378           kite                                     {kite, sentry}

[236379 rows x 2 columns]

In [25]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [26]:
len(dict_syns)

25181

In [27]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# actualizar hyperonimos con SNLI DEV y TEST

In [43]:
hyperonimos=dict()

In [44]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                      word                                          Hyperonym
0                     sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                     make  {move, means_manufacture, name, excrete, trave...
2                      pay  {monies, give_fee, exchange_money, work_money,...
3                    yukos                                    {company, yuko}
4                       27                                                 {}
...                    ...                                                ...
22360           okra_plant        {vegetable_plant, crop_plant, mallow_order}
22361  hibiscus_esculentus                                                 {}
22362                gumbo  {vegetable, capsule, edible, okra, soil, plant...
22363        lady's_finger  {branchia, potato, kidney_vetch, cake, lobster...
22364               bhindi                           {edible, capsule, plant}

[22365 rows x 2 columns]

In [46]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [47]:
len(hyperonimos)

22365

In [48]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [49]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [50]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                make  {move, means_manufacture, name, excrete, trave...
2                 pay  {monies, give_fee, exchange_money, work_money,...
3               yukos                                    {company, yuko}
4                  27                                                 {}
...               ...                                                ...
459035  social_dancer                                                 {}
459036  terpsichorean                      {terpsichore, dance, dancing}
459037  exotic_dancer      {belly_dancer, exotic, pole_dancer, stripper}
459038    terpsichore  {muses, dramatic, dance, mnemosyne, chorus, as...
459039           kite  {soar, flier, deben, has_string, brill, child,...

[459040 rows x 2 columns]

In [51]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [52]:
len(hyperonimos)

27765

In [53]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Actualizar Hyponyms con SNLI TEST y DEV

In [54]:
hyponimos=dict()

In [55]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

                  word                                            Hyponym
0                 sale  {rummage_sale, salesbook, for_sale, saleabilit...
1                 make  {makeweight, fashion, lay_down, incorporate, m...
2                  pay  {paidest, paysite, spend, prepay, underpay, re...
3                yukos                                                 {}
4                   27                                                 {}
...                ...                                                ...
23419        inform_on                                                 {}
23420       fingerbang  {fingerbangs, fingerbanging, fingerbanged, fin...
23421           heyday                          {heydays, heydey, hayday}
23422  king_of_insects                                                 {}
23423        bee_block                                                 {}

[23424 rows x 2 columns]

In [56]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [57]:
len(hyponimos)

23424

In [58]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [59]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [60]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                word                                            Hyponym
0               sale  {rummage_sale, salesbook, for_sale, saleabilit...
1               make  {makeweight, fashion, lay_down, incorporate, m...
2                pay  {paidest, paysite, spend, prepay, underpay, re...
3              yukos                                                 {}
4                 27                                                 {}
...              ...                                                ...
483592  romantically                                                 {}
483593          teal   {bluewing, garganey, tealness, teals, greenwing}
483594        busker                                          {buskers}
483595        tousle  {touzle, tousled, untousle, tousles, tousle_he...
483596          kite  {kitefin, parakite, check_kiting, sport_kite, ...

[483597 rows x 2 columns]

In [61]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [62]:
len(hyponimos)

30514

In [63]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# agregar sinonimos del TRAIN SNLI

In [2]:
dict_syns=dict()

In [3]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                  word                                            Synonym
0                 sale  {cut_rate_sale, sales_agreement, sales_event, ...
1                 make  {name, render, urinate, draw, brand, productio...
2                  pay  {ante_up, compensate, remuneration, pay_up, wa...
3                yukos                                            {yukos}
4                   27                          {xxvii, twenty_seven, 27}
...                ...                                                ...
61066    snaps'weather                                    {snaps'weather}
61067          sku'the                                          {sku'the}
61068  disabilities'we                                  {disabilities'we}
61069      parts'hence                                      {parts'hence}
61070    icfundrzr@aol                                    {icfundrzr@aol}

[61071 rows x 2 columns]

In [4]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [9]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [10]:
df_syn = df_syn.reset_index(drop=True)
df_syn

             word                                            Synonym
0            sale  {cut_rate_sale, sales_agreement, sales_event, ...
1            make  {name, render, urinate, draw, brand, productio...
2             pay  {compensate, ante_up, remuneration, pay_up, wa...
3           yukos                                            {yukos}
4              27                          {xxvii, twenty_seven, 27}
...           ...                                                ...
1685521         ;                                                {;}
1685522         (                                                {(}
1685523         )                                                {)}
1685524     froma                                            {froma}
1685525  themself  {hirself, himself, emself, thonself, theirself...

[1685526 rows x 2 columns]

In [11]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [13]:
len(dict_syns)

64561

In [14]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# actualizar hiperonimos de SNLI TRAIN

In [15]:
hyperonimos=dict()

In [16]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                     word                                          Hyperonym
0                    sale  {stores_offer, liquidation, cheaper, shops, pr...
1                    make  {recognise, software, appendix:collocations_of...
2                     pay  {salary, monetary, remunerate, person_now_paid...
3                   yukos                                    {company, yuko}
4                      27                                                 {}
...                   ...                                                ...
83575              mashup                       {music_genre, mash_up, mash}
83576               hanji                                                 {}
83577             consise                                                 {}
83578        overqualifie                                                 {}
83579  capital_of_indiana                                                 {}

[83580 rows x 2 columns]

In [17]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [18]:
len(hyperonimos)

83580

In [19]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [21]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                  word                                          Hyperonym
0                 sale  {stores_offer, liquidation, cheaper, shops, pr...
1                 make  {recognise, software, appendix:collocations_of...
2                  pay  {salary, monetary, remunerate, person_now_paid...
3                yukos                                    {yuko, company}
4                   27                                                 {}
...                ...                                                ...
2486513     surjective                                                 {}
2486514              (                                                 {}
2486515              )                                                 {}
2486516  from_each_one                                                 {}
2486517          froma                                                 {}

[2486518 rows x 2 columns]

In [22]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [23]:
len(hyperonimos)

87423

In [24]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# agregar hiponimos del SNLI TRAIN

In [25]:
hyponimos=dict()

In [26]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

               word                                            Hyponym
0              sale  {auction, sale_proof, saleroom, postsale, nons...
1              make  {copy, incorporate, beget, re_create, generate...
2               pay  {pays, autopay, going_for_haircut, payback, pa...
3             yukos                                                 {}
4                27                                                 {}
...             ...                                                ...
85020        mashup                                {mashable, mashups}
85021         hanji                                                 {}
85022       consise                                                 {}
85023  overqualifie                                                 {}
85024         wahey                                                 {}

[85025 rows x 2 columns]

In [27]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [28]:
len(hyponimos)

85025

In [29]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [30]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                   word                                            Hyponym
0                  sale  {auction, sale_proof, saleroom, postsale, nons...
1                  make  {copy, incorporate, beget, re_create, generate...
2                   pay  {pays, autopay, going_for_haircut, payback, pa...
3                 yukos                                                 {}
4                    27                                                 {}
...                 ...                                                ...
2789102         why_not                                                 {}
2789103        how_come                                                 {}
2789104       wherefore        {wherefores, wherefor, whys_and_wherefores}
2789105        what_for                                        {what_fors}
2789106  what's_up_with                                                 {}

[2789107 rows x 2 columns]

In [31]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [32]:
len(hyponimos)

89425

In [33]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# Agregar sinonimos del corpus RTEGLUE

In [31]:
dict_syns=dict()

In [32]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

            word                                            Synonym
0           sale  {sales_agreement, sale, cut_rate_sale, sales_e...
1           make  {manufacture, nauseate, pass_water, produce, n...
2            pay  {ante_up, pay_off, compensation, fee, compensa...
3          yukos                                            {yukos}
4             27                          {twenty_seven, xxvii, 27}
...          ...                                                ...
29181  ourselves                                        {ourselves}
29182    another                {another, some_other, someone_else}
29183       drew                           {drew, john_drew, tight}
29184  whichever                                        {whichever}
29185     blithe                            {light_hearted, blithe}

[29186 rows x 2 columns]

In [33]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [34]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [35]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo6/RTEGLUE/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [36]:
df_syn = df_syn.reset_index(drop=True)
df_syn

           word                                            Synonym
0          sale  {sales_agreement, sale, cut_rate_sale, sales_e...
1          make  {manufacture, nauseate, pass_water, produce, b...
2           pay  {ante_up, pay_off, compensation, fee, compensa...
3         yukos                                            {yukos}
4            27                          {twenty_seven, xxvii, 27}
...         ...                                                ...
58337    unless                              {at_least_if, unless}
58338  although   {although, notwithstanding, though, even_though}
58339    blithe                            {light_hearted, blithe}
58340       why  {what_for, why_not, what's_up_with, how_come, ...
58341   whereas                                          {whereas}

[58342 rows x 2 columns]

In [37]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [38]:
len(dict_syns)

29186

In [10]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# Agregar hiperonimos del RTEGLUE

In [11]:
hyperonimos=dict()

In [12]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                  word                                          Hyperonym
0                 sale  {bargain_shopping, discount_event, at_market, ...
1                 make  {establish, constitute, pass, perpetrate, craf...
2                  pay  {credit, shelling, earned_income, earnings_wag...
3                yukos                                    {yuko, company}
4                   27                                                 {}
...                ...                                                ...
46519           peptic  {agent, digestion, pepsin, promote, digestive,...
46520         ofttimes                    {frequently, oft, times, often}
46521  as_often_as_not  {frequently, always, more_often_than_not, more...
46522        ljubljana                                   {slovenia, city}
46523           parkin  {parkins, protein, mutation, per, parkinson, t...

[46524 rows x 2 columns]

In [13]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [14]:
len(hyperonimos)

46524

In [15]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [16]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo6/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [17]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                          Hyperonym
0             sale  {bargain_shopping, discount_event, at_market, ...
1             make  {establish, constitute, pass, perpetrate, craf...
2              pay  {credit, shelling, earned_income, earnings_wag...
3            yukos                                    {yuko, company}
4               27                                                 {}
...            ...                                                ...
93330       blithe                                            {bliss}
93331          why  {reason, thy, eurovision_song_contest_entry, a...
93332    per_annum                                                 {}
93333      whereas                                            {where}
93334  for_because                                                 {}

[93335 rows x 2 columns]

In [18]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [19]:
len(hyperonimos)

46744

In [20]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# agregar hiponimos del RTEGLUE

In [21]:
hyponimos=dict()

In [22]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

             word                                            Hyponym
0            sale  {fire_sale, upsale, auction, telesale, white_s...
1            make  {establish, upmake, meck, derive, matchmake, y...
2             pay  {buy_for_loved_one, postpay, go_for_haircut, p...
3           yukos                                                 {}
4              27                                                 {}
...           ...                                                ...
52305     zikuski                                                 {}
52306  disjointed      {nondisjointed, disjointedly, disjointedness}
52307      peptic  {bradypeptic, acidopeptic, peptics, eupeptic, ...
52308   ljubljana                            {ljubljanan, lyublyana}
52309      parkin                                          {parkins}

[52310 rows x 2 columns]

In [23]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [24]:
len(hyponimos)

52310

In [25]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo6/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [26]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo6/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [27]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Hyponym
0                sale  {fire_sale, upsale, auction, telesale, white_s...
1                make  {establish, upmake, derive, matchmake, meck, y...
2                 pay  {buy_for_loved_one, postpay, go_for_haircut, p...
3               yukos                                                 {}
4                  27                                                 {}
...               ...                                                ...
104750           yinz                                     {yins, yinzer}
104751         blithe  {blitheful, blither, blitheness, blithen, blit...
104752            why  {whies, whyness, why_in_god's_name, why_not, s...
104753        whereas                                        {whereases}
104754  compared_with                                                 {}

[104755 rows x 2 columns]

In [28]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [29]:
len(hyponimos)

52399

In [30]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# agregar sinonimos de MultiNLI

In [2]:
dict_syns=dict()

In [3]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

               word                                            Synonym
0              sale  {sales_event, cut_rate_sale, sale, sales_agree...
1              make  {construct, puddle, fabricate, make_into, pass...
2               pay  {give, fee, ante_up, compensation, wage, pay_u...
3             yukos                                            {yukos}
4                27                          {27, xxvii, twenty_seven}
...             ...                                                ...
31677         hanji                                            {hanji}
31678       consise                                          {consise}
31679  overqualifie                                     {overqualifie}
31680          dreg                                             {dreg}
31681      untimely  {untimely, premature, early, inopportune, prem...

[31682 rows x 2 columns]

In [4]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [8]:
for i in range(2,40,1):
    if i==2:
        df_syn = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [9]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo7/MultiNLI/DEVMM/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [10]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                   word                                            Synonym
0                  sale  {sale, cut_rate_sale, sales_event, sales_agree...
1                  make  {construct, puddle, fabricate, make_into, pass...
2                   pay  {give, fee, compensation, wage, ante_up, pay_u...
3                 yukos                                            {yukos}
4                    27                          {27, xxvii, twenty_seven}
...                 ...                                                ...
588925  disabilities'we                                  {disabilities'we}
588926      parts'hence                                      {parts'hence}
588927    icfundrzr@aol                                    {icfundrzr@aol}
588928                >                                                {>}
588929               eh                                               {eh}

[588930 rows x 2 columns]

In [11]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [12]:
len(dict_syns)

61071

In [13]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# hiperonimos de MUlitNLI

In [4]:
hyperonimos=dict()

In [5]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

,word,Hyperonym
0,sale,"{temporary, big, commercial_transaction, store..."
1,make,"{creating_action, constitute, short, construct..."
2,pay,"{monies, monetary_attraction, getting_somethin..."
3,yukos,"{company, yuko}"
4,27,{}
...,...,...
46739,sir_james_augustus_henry_murray,{}
46740,murray_river,{river}
46741,argentinean,"{argentina, argentine}"
46742,blithe,{bliss}
46743,per_annum,{}

In [6]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [7]:
len(hyperonimos)

46744

In [9]:
for i in range(2,40,1):
    if i==2:
        df_syn = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [10]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo7/MultiNLI/DEVMM/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [11]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                      word                                          Hyperonym
0                     sale  {temporary, big, commercial_transaction, store...
1                     make  {creating_action, constitute, short, construct...
2                      pay  {monies, monetary_attraction, getting_somethin...
3                    yukos                                    {company, yuko}
4                       27                                                 {}
...                    ...                                                ...
856832       instantaneous                                             {eous}
856833     new_york_minute                                 {minute, new_york}
856834                inst                                                 {}
856835                dreg                        {small_indefinite_quantity}
856836  capital_of_indiana                                                 {}

[856837 rows x 2 columns]

In [12]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [13]:
len(hyperonimos)

83580

In [14]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# hyponym de MUltNLI

In [15]:
hyponimos=dict()

In [16]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

           word                                            Hyponym
0          sale  {telesale, selloff, supersale, clearance_sale,...
1          make  {newmake, twine, choreograph, makegood, ymaked...
2           pay  {payout, payability, paymistress, paybook, get...
3         yukos                                                 {}
4            27                                                 {}
...         ...                                                ...
52394      yens                                                 {}
52395  you_gals                                                 {}
52396    allyou                                                 {}
52397      yinz                                     {yinzer, yins}
52398    blithe  {blithen, blitheless, blitheness, blithest, bl...

[52399 rows x 2 columns]

In [18]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [19]:
len(hyponimos)

52399

In [20]:
for i in range(2,40,1):
    if i==2:
        df_syn = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo7/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [21]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo7/MultiNLI/DEVMM/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [22]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                word                                            Hyponym
0               sale  {telesale, selloff, supersale, clearance_sale,...
1               make  {newmake, twine, choreograph, makegood, drive,...
2                pay  {payability, payout, paymistress, paybook, get...
3              yukos                                                 {}
4                 27                                                 {}
...              ...                                                ...
927275       consise                                                 {}
927276      fly_high                                                 {}
927277  overqualifie                                                 {}
927278          dreg                                 {dreggish, dreggy}
927279         wahey                                                 {}

[927280 rows x 2 columns]

In [23]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [24]:
len(hyponimos)

85025

In [25]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")