In [35]:
import pandas as pd

# obtener sinonimos

In [36]:
synonyms=dict()

In [37]:
df_sinonimos=pd.read_pickle("salida/nuevo4a/Synonyms.pickle")
df_sinonimos

             word                                            Synonym
0            sale  {cut_rate_sale, sales_event, sales_agreement, ...
1            make  {do, shuffle, puddle, get, spend_penny, urinat...
2             pay  {pay_off, action, ante_up, yield, pay, remuner...
3           yukos                                            {yukos}
4              27                          {xxvii, 27, twenty_seven}
...           ...                                                ...
72755       siewi                                            {siewi}
72756  dislikable                                       {dislikable}
72757       gispy                                            {gispy}
72758       buitl                                            {buitl}
72759   holysmoke                                        {holysmoke}

[72760 rows x 2 columns]

In [38]:
for index,strings in df_sinonimos.iterrows():
    synonyms[strings['word']]=strings['Synonym']

In [39]:
len(synonyms)

72760

In [3]:
# for i in range(8):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             pass

In [4]:
# for i in range(8):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/RTE3/TEST_'+str(i+1)+'.csv_Synonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [5]:
# for i in range(8):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/GHS/GHS_'+str(i+1)+'.csv_Synonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [9]:
# for i in range(5):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/SICK/DEV_'+str(i+1)+'.csv_Synonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/SICK/DEV_'+str(i+1)+'.csv_Synonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             print(i+1)

In [10]:
# for i in range(45):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SICK/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [11]:
# for i in range(50):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SICK/TEST_'+str(i+1)+'.csv_Synonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [46]:
# for i in range(10):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             print(i+1)

In [47]:
# for i in range(10):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SNLI/TEST/TEST_'+str(i+1)+'.csv_Synonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [40]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo4a/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo4a/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            print(i+1)

In [6]:
# for i in range(1):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             pass

In [7]:
# for i in range(1):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/RTEGLUE/DEV_'+str(i+1)+'.csv_Synonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [41]:
#df_syn = pd.read_pickle('salida/nuevo4a/MultiNLI/DIAG/diagnostic-full.csv_Synonym.pickle')

In [6]:
# df_syn = pd.read_pickle('salida/nuevo4a/MultiNLI/DEVM/DEV_1.csv_Synonym.pickle')
# temp = pd.read_pickle('salida/nuevo4a/MultiNLI/DEVMM/DEV_1.csv_Synonym.pickle')
# df_syn=pd.concat([df_syn,temp])

In [7]:
# for i in range(40):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [41]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                word                                            Synonym
0               sale  {sale, sales_event, sales_agreement, cut_rate_...
1               make  {do, shuffle, puddle, get, urinate, pee_pee, s...
2                pay  {pay_off, action, ante_up, yield, pay, remuner...
3              yukos                                            {yukos}
4                 27                          {xxvii, 27, twenty_seven}
...              ...                                                ...
1128032    rockclimb                                        {rockclimb}
1128033  rockclimber                                      {rockclimber}
1128034  spiderwoman                                      {spiderwoman}
1128035   prformance                                       {prformance}
1128036    chilldren                                        {chilldren}

[1128037 rows x 2 columns]

In [42]:
len(df_syn['word'].unique())

65183

In [43]:
df_syn=df_syn.drop_duplicates('word')

In [46]:
for index,strings in df_syn.iterrows():
    synonyms[strings['word']]=strings['Synonym']

In [47]:
len(synonyms)

73482

In [48]:
df = pd.DataFrame([[key, synonyms[key]] for key in synonyms.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo4a/Synonyms.pickle")

# CreaciÃ³n de pickle con hiperonimos

In [49]:
hyperonimos=dict()

In [50]:
df_hyp=pd.read_pickle("salida/nuevo4a/Hyperonyms.pickle")
df_hyp

                word                                          Hyperonym
0               sale  {exchange, selling, merchantability, occasion,...
1               make  {tidy, look, become, constitute, assemble, amo...
2                pay  {person_now_paid, payment, make, digest, be, r...
3              yukos                                    {company, yuko}
4                 27                                                 {}
...              ...                                                ...
98490     dislikable                                          {dislike}
98491          gispy                                                 {}
98492  unremittingly                                      {unremitting}
98493          buitl                                                 {}
98494      holysmoke                                                 {}

[98495 rows x 2 columns]

In [51]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [52]:
len(hyperonimos)

98495

In [14]:
# for i in range(8):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             pass

In [15]:
# for i in range(8):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/RTE3/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [16]:
# for i in range(8):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/GHS/GHS_'+str(i+1)+'.csv_Hyperonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [22]:
# for i in range(5):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/SICK/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/SICK/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             print(i+1)

In [23]:
# for i in range(45):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SICK/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [24]:
# for i in range(50):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SICK/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [58]:
# for i in range(10):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             print(i+1)

In [59]:
# for i in range(10):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [53]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo4a/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo4a/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            print(i+1)

In [18]:
# for i in range(1):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             pass

In [19]:
# for i in range(1):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [53]:
# df_syn = pd.read_pickle('salida/nuevo4a/MultiNLI/DIAG/diagnostic-full.csv_Hyperonym.pickle')

In [18]:
# df_syn = pd.read_pickle('salida/nuevo4a/MultiNLI/DEVM/DEV_1.csv_Hyperonym.pickle')
# temp = pd.read_pickle('salida/nuevo4a/MultiNLI/DEVMM/DEV_1.csv_Hyperonym.pickle')
# df_syn=pd.concat([df_syn,temp])

In [19]:
# for i in range(40):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [54]:
df_syn = df_syn.reset_index(drop=True)
df_syn

,word,Hyperonym
0,sale,"{exchange, selling, merchantability, occasion,..."
1,make,"{tidy, look, become, constitute, amount, see, ..."
2,pay,"{person_now_paid, payment, make, digest, be, r..."
3,yukos,"{company, yuko}"
4,27,{}
...,...,...
1968343,research_octane_number,"{octane_number, octane_rating}"
1968344,daffo,{}
1968345,bokkos,{}
1968346,prformance,{}
1968347,chilldren,{}

In [55]:
df_syn=df_syn.drop_duplicates('word')

In [56]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [57]:
len(hyperonimos)

99242

In [58]:
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo4a/Hyperonyms.pickle")

# Hyponyms

In [59]:
hyponyms=dict()

In [60]:
df_hyp=pd.read_pickle("salida/nuevo4a/Hyponyms.pickle")
df_hyp

                  word                                            Hyponym
0                 sale  {realization, closeout, saleyard, presale, sal...
1                 make  {makeless, makest, bring_about, overmake, make...
2                  pay  {ypaid, paypig, payeth, pay_cash, paythrough, ...
3                yukos                                                 {}
4                   27                                                 {}
...                ...                                                ...
99475            buitl                                                 {}
99476        holysmoke                                                 {}
99477  richard_strauss                                                 {}
99478  strauss_younger                                                 {}
99479    strauss_elder                                                 {}

[99480 rows x 2 columns]

In [61]:
for index,strings in df_hyp.iterrows():
    hyponyms[strings['word']]=strings['Hyponym']

In [23]:
# for i in range(8):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             pass

In [24]:
# for i in range(8):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/RTE3/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [25]:
# for i in range(8):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/GHS/GHS_'+str(i+1)+'.csv_Hyponym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [33]:
# for i in range(5):
#     if i ==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/SICK/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/SICK/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             pass

In [34]:
# for i in range(45):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SICK/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [35]:
# for i in range(50):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SICK/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [70]:
# for i in range(10):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             print(i+1)

In [71]:
# for i in range(10):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [62]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo4a/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo4a/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            print(i+1)

In [29]:
# for i in range(1):
#     if i==0:
#         df_syn = pd.read_pickle('salida/nuevo4a/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
#     else:
#         try:
#             temp = pd.read_pickle('salida/nuevo4a/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
#             df_syn=pd.concat([df_syn,temp])
#         except:
#             pass

In [30]:
# for i in range(1):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         pass

In [62]:
# df_syn = pd.read_pickle('salida/nuevo4a/MultiNLI/DIAG/diagnostic-full.csv_Hyponym.pickle')

In [28]:
# df_syn = pd.read_pickle('salida/nuevo4a/MultiNLI/DEVM/DEV_1.csv_Hyponym.pickle')
# temp = pd.read_pickle('salida/nuevo4a/MultiNLI/DEVMM/DEV_1.csv_Hyponym.pickle')
# df_syn=pd.concat([df_syn,temp])

In [29]:
# for i in range(40):
#     try:
#         temp = pd.read_pickle('salida/nuevo4a/MultiNLI/TRAIN/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
#         df_syn=pd.concat([df_syn,temp])
#     except:
#         print(i+1)

In [63]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Hyponym
0                sale  {realization, closeout, saleyard, presale, sal...
1                make  {makeless, makest, bring_about, make_king, ove...
2                 pay  {ypaid, paypig, payeth, pay_cash, paythrough, ...
3               yukos                                                 {}
4                  27                                                 {}
...               ...                                                ...
2178787   rockclimber                                                 {}
2178788   spiderwoman                                                 {}
2178789  boulevardier   {boulevardiering, boulevardiered, boulevardiers}
2178790    prformance                                                 {}
2178791     chilldren                                                 {}

[2178792 rows x 2 columns]

In [64]:
df_syn=df_syn.drop_duplicates('word')

In [65]:
for index,strings in df_syn.iterrows():
    hyponyms[strings['word']]=strings['Hyponym']

In [66]:
len(hyponyms)

100345

In [67]:
df = pd.DataFrame([[key, hyponyms[key]] for key in hyponyms.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo4a/Hyponyms.pickle")

# checar diccionarios

In [114]:
synonyms=dict()

In [115]:
df_sinonimos=pd.read_pickle("salida/nuevo4a/Synonyms.pickle")
df_sinonimos

           word                                            Synonym
0          sale  {sale, sales_agreement, sales_event, cut_rate_...
1          make  {relieve_oneself, fabricate, construction, dra...
2           pay  {action, yield, pay_up, fee, make_up, give, wa...
3         yukos                                            {yukos}
4            27                          {xxvii, twenty_seven, 27}
...         ...                                                ...
64407      nill                                             {nill}
64408      edin                                             {edin}
64409  merrigan                                         {merrigan}
64410  teleread                                         {teleread}
64411     ebert                                            {ebert}

[64412 rows x 2 columns]

In [116]:
for index,strings in df_sinonimos.iterrows():
    synonyms[strings['word']]=strings['Synonym']

In [117]:
len(synonyms)

64412

In [121]:
hyperonyms=dict()

In [122]:
df_h=pd.read_pickle("salida/nuevo4a/Hyperonyms.pickle")
df_h

           word                                          Hyperonym
0          sale  {saloon, occasion, agreement, good_for_busines...
1          make  {tidy, create_from_raw_material, software, pas...
2           pay  {settle, make, payment, give, person_now_paid,...
3         yukos                                    {company, yuko}
4            27                                                 {}
...         ...                                                ...
88114      nill                                 {will, nebula, ne}
88115      edin                                                 {}
88116  merrigan                                                 {}
88117  teleread                                                 {}
88118     ebert                                                 {}

[88119 rows x 2 columns]

In [123]:
for index,strings in df_h.iterrows():
    hyperonyms[strings['word']]=strings['Hyperonym']

In [124]:
len(hyperonyms)

88119

In [125]:
hyponyms=dict()

In [126]:
df_hi=pd.read_pickle("salida/nuevo4a/Hyponyms.pickle")
df_hi

              word                                            Hyponym
0             sale  {nonsale, saleworthy, wholesale, selloff, cut_...
1             make  {distill, produce, claw, call_up, scrape, rema...
2              pay  {payback, paypal, autopay, subsidize, payable,...
3            yukos                                                 {}
4               27                                                 {}
...            ...                                                ...
89769         edin                                                 {}
89770     merrigan                                        {merrigans}
89771     teleread                                                 {}
89772  extortioner                                     {extortioners}
89773        ebert                                                 {}

[89774 rows x 2 columns]

In [127]:
for index,strings in df_hi.iterrows():
    hyponyms[strings['word']]=strings['Hyponym']

In [128]:
len(hyponyms)

89774

In [157]:
hyponyms["united_states_of_america"]

{'united_states', 'usonia'}

In [158]:
synonyms["united_states_of_america"]

KeyError: 'united_states_of_america'

In [159]:
hyperonimos["united_states_of_america"]

{'capitalist_democratic_federal_republic',
 'country',
 'country_within_world',
 'in_north_america',
 'one_of_many_countries',
 'state'}

In [146]:
"sale" in hyponyms

True

In [147]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [148]:
df_syn

         word                                            Synonym
0        sale  {sale, sales_agreement, sales_event, cut_rate_...
1        make  {fabricate, relieve_oneself, construction, dra...
2         pay  {action, fee, yield, pay_up, make_up, give, wa...
3       yukos                                            {yukos}
4          27                          {xxvii, twenty_seven, 27}
...       ...                                                ...
1258  casting                 {cast, audition, molding, casting}
1259  quality  {accident, quality, gentry, upper_class, linea...
1260     slab                                     {screed, slab}
1261   invest  {place, enthrone, invest, commit, vest, endow,...
1262     cast  {draw, shed, roll, cast_of_characters, cast, s...

[10909 rows x 2 columns]

In [151]:
for i in range(8):
    if i==0:
        df_hyp = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo4a/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_hyp=pd.concat([df_hyp,temp])
        except:
            pass

In [152]:
df_hyp

          word                                            Hyponym
0         sale  {nonsale, saleworthy, wholesale, cut_rate_sale...
1         make  {distill, produce, claw, call_up, scrape, rema...
2          pay  {payback, paypal, subsidize, autopay, payable,...
3        yukos                                                 {}
4           27                                                 {}
...        ...                                                ...
2087  enthrone  {enthroning, enthronise, enthroneth, enthrones...
2088      vest  {vested, vesteth, safety_vest, life_jacket, yo...
2089    clothe  {clothest, overclothe, underclothe, clothes, c...
2090     endow  {cover, endoweth, endowing, well_endowed, bene...
2091    induct  {inducts, inducting, reinduct, inducted, induc...

[16800 rows x 2 columns]

In [156]:
set(df_hyp["word"]).difference(set(df_syn["word"]))

{'guess',
 'Ã©popÃ©e',
 'united_states_of_america',
 'wretched',
 'aggress',
 'foremost',
 'cast_of_characters',
 'risk_of_infection',
 'arabian_peninsula',
 'strobile',
 'excogitate',
 'spent',
 'outer_space',
 'pieces',
 'activeness',
 'increment',
 'know_as',
 'wasted',
 'contrived',
 'come_out',
 'break_up',
 'oeuvre',
 'knowingness',
 'unexplored',
 'phonemic_merger',
 'radiotherapy',
 'kayfabe',
 'dramatize',
 'birther',
 'unfolding',
 'brush',
 'garbage_disposal',
 'set_ahead',
 'rain_forest',
 'sobriquet',
 'homage',
 'harmonise',
 'diluted',
 'sabi',
 'overtop',
 'squeal',
 'hellenic_republic',
 'pentadecimal',
 'fecund',
 'reefer',
 'diffuse',
 'torso',
 'guerilla',
 'screen_name',
 'flight_of_stairs',
 'managing_director',
 'sunshine_state',
 'gw',
 'department_of_commerce',
 'dehorn',
 'junk',
 'come_to_pass',
 'pressure_sensation',
 'drastic',
 'soccer',
 'cartogram',
 'state_of_matter',
 'lay_aside',
 'clasp',
 'infant',
 'careen',
 'police_department',
 'favorable_reception',
 'han',
 'case_by_case',
 'digest',
 'confer',
 'vomit',
 'put_in',
 'organic_structure',
 'deg',
 'bank_building',
 'holy_cross',
 'domiciliate',
 'shoot_down',
 'give_hand',
 'helpless',
 'smutty',
 'beget',
 'move_on',
 'outlooking',
 'enormous',
 'suitable',
 'persist_in',
 'phonograph_record',
 'escritoire',
 'break_off',
 'find_oneself',
 'slit',
 'kanchanjanga',
 'thousand_million',
 'margaret_court',
 'wogball',
 'bribe',
 'porcelain',
 'papers',
 'freeman',
 'sorrel',
 'vagina',
 'try_on',
 'typify',
 'pithless',
 'united_states',
 'sinister',
 'send_away',
 'even_out',
 'tierce',
 'excessive',
 'beck',
 'disposition',
 'founding_father',
 'yank',
 'unaffixed',
 'piece_of_eight',
 'republic_of_hungary',
 'exalt',
 'utmost',
 'canvass',
 'free_of_charge',
 'dyke',
 'routine',
 'impart',
 'imperil',
 'tautness',
 'additional',
 'prophylactic',
 'jiggambob',
 'tobacco_plant',
 'dyestuff',
 'elevated',
 'race_murder',
 'reappearance',
 'lucky_break',
 'liever',
 'arabian',
 'cobalt',
 'procure',
 'motivate',
 'incursion',
 'theater_director',
 'african_american',
 'monetary_standard',
 'u.s',
 'proliferate',
 'incline',
 'us_ian',
 'lodge',
 'big_name',
 'electric_current',
 'cant',
 'fabulator',
 'helper',
 'technic',
 'fritter_away',
 'torch',
 'blossom',
 'confine',
 'coronet',
 'octal',
 'mushroomer',
 'wishy_washy',
 'stroke',
 'multiservice',
 'adjunct',
 'haughty',
 'skim',
 'impediment',
 'tremblor',
 'possess',
 'azrael',
 'rain_cats_and_dogs',
 'place_of_business',
 'regular',
 'accordance',
 'commercialism',
 'smoulder',
 'picky',
 'so_so',
 'swart',
 'sign_up',
 'sporting',
 'vincible',
 'inexperienced',
 'call_in',
 'uttermost',
 'other_than',
 'fertilize',
 'six_spot',
 'match',
 'musculus',
 "get_under_one's_skin",
 'docking_facility',
 'cunt',
 'slap_bang',
 'arab_republic_of_egypt',
 'german_empire',
 'expense',
 'conserve',
 'unloosen',
 'public_speaking',
 'soviet_union',
 'severity',
 'edifice',
 'commitment',
 'contrarily',
 'promptly',
 'regulative',
 'timberland',
 "keep_one's_word",
 'adjute',
 'connivance',
 'gum',
 'signboard',
 'assimilate',
 'wraith',
 'make_use',
 'micturate',
 'crippled',
 'complicate',
 'tome',
 'Ëˆ',
 'stay_fresh',
 'spurn',
 'astroboffin',
 'lead_out',
 'offstage',
 'ejaculate',
 'authenticity',
 'operative',
 'breakout',
 'country_music',
 'timber',
 'west_germany',
 'chronicle',
 'unease',
 'crack',
 'dissolve',
 'disable',
 'german_language',
 'legion',
 'co_op',
 'due_south',
 'dent',
 'n_speed_automatic',
 'high_toned',
 'augury',
 'lease',
 'partly',
 'coupling',
 'sweetie_pie',
 'gueridon',
 'meanspirited',
 'gathered',
 'bet_on',
 'sales_activity',
 'hummel',
 'unite',
 'chest',
 'born_again',
 'polygamous',
 'ingredient',
 'shut_up',
 'first_of_all',
 'be',
 'mellow',
 'day_off',
 'authorization',
 'send_off',
 'thenar',
 'est',
 'unsatisfactory',
 'rectification',
 'solid_ground',
 'sion',
 'offspring',
 'annex',
 'in_south',
 'mood',
 'discourse',
 'discount',
 'concurrent',
 'piddle',
 'victualler',
 'limitation',
 'gram',
 'mould',
 'linguistic_communication',
 'veracious',
 'lead_off',
 'give_way',
 'italia',
 'equalizer',
 'womanhood',
 'adjutor',
 'unification',
 'sack',
 'roentgen',
 'find_out',
 'united_states_president',
 'confiscate',
 'saudi_arabian',
 'serving',
 'odorant',
 'unleash',
 'low_down',
 'soaring',
 'exemplary',
 'strange',
 'virgo_intacta',
 'rotten',
 'woodentop',
 'remain_firm',
 'start_up',
 'garland',
 'call_off',
 'point_of_view',
 'rest_his_soul',
 'weedy',
 "i've",
 'unsound',
 'oxo',
 'enclose',
 'bugle',
 'stamp_out',
 'junction',
 'procession',
 'time_out',
 'deterioration',
 'triad',
 'expectant',
 'burn_mark',
 'shoes',
 'universal_set',
 'stimulate',
 'high_risk',
 'strobilus',
 'downspout',
 'sourstuff',
 'tough',
 'currentest',
 'atomic_number_82',
 'grasp',
 'destitute',
 'scale_of_measurement',
 'disputation',
 'nine_spot',
 'disseminate',
 'eke',
 'broadly',
 'argue',
 'earthdin',
 'roy_wilkins',
 'splenetic',
 'mushroom',
 'soberly',
 'pennant',
 'conversion',
 'cruelly',
 'touchy',
 'line_up',
 'financial_support',
 'vile',
 'personnel',
 'great_britain',
 'radius',
 'youthful',
 'rain_buckets',
 'step_up',
 'clime',
 'grammatical_case',
 'join_forces',
 'comparative',
 'backing',
 'skillfulness',
 'bits',
 'wither',
 'chosenness',
 'pinch',
 'misfire',
 'quarrel',
 'republic_of_peru',
 'impeccable',
 'terminate',
 'egyptian_empire',
 'let_loose',
 'self_shifting_transmission',
 'missionary_post',
 'peddle',
 'splice',
 'personify',
 'daydream',
 'swear_out',
 'prexy',
 'branch_out',
 'tall',
 'slay',
 'strengthless',
 'self_propelled',
 'because',
 'copper',
 'generator',
 'john_roy_major',
 'wield',
 'rid',
 'edwin_powell_hubble',
 'usually',
 'contend',
 'demote',
 'stew',
 'cave_in',
 'comedown',
 'illogical',
 'k',
 'sylva',
 'hydroxic_acid',
 'utilization',
 'vote_out',
 'specter',
 'okay',
 'take_into_account',
 "meet_one's_maker",
 'xor',
 'shiite',
 'earwax',
 'wildmeat',
 'localize',
 'go_up',
 'lunar_month',
 'passing_water',
 'slender',
 'payoff',
 'cathay',
 'golf_hole',
 'muscular_tissue',
 'received',
 'bearer',
 'whatdoyoucallit',
 'artificer',
 'cerumen',
 'pregnancy',
 'span',
 'degeneracy',
 'crag',
 'tetradecimal',
 'renounce',
 'dubious',
 'send_packing',
 'radiate',
 'surround',
 'domestic_help',
 'lather',
 'tumultuous',
 'cognisance',
 'vulgar',
 'affaire',
 'clam',
 'crabbed',
 'roll_down',
 'threesome',
 'compensate',
 'bide',
 'revenue_enhancement',
 'time_of_day',
 'padre',
 'plaster_cast',
 'unfreedom',
 'incandesce',
 'easy_lay',
 'faction',
 'limb',
 'societal',
 'stand_for',
 'epithet',
 'dutchland',
 'accompaniment',
 'slugger',
 'star_topology',
 'stalinism',
 'encompass',
 'rugby_football',
 'put_on',
 'earmark',
 'degenerate',
 'lowly',
 'flange',
 'automatic',
 'pass_away',
 'difference_of_opinion',
 'juxtapose',
 'have_effect',
 'waxen',
 'bender',
 'superior_general',
 'promiscuous',
 'united_statesian',
 'cone_shape',
 'fable',
 'cater',
 'assigned_servant',
 'feed_in',
 'soapie',
 'depone',
 'should',
 'microseism',
 'presumptive',
 'stocktaking',
 'peril',
 'twelvemonth',
 'surmount',
 'burgess',
 'take_part',
 'phone_call',
 'intermediate',
 'motor_hotel',
 'assent',
 'ball_shaped',
 'interbred',
 'colossal',
 'gifted',
 'hold_up',
 'sever',
 'celestial_empire',
 'cauterize',
 'motherliness',
 'sheath',
 'glow',
 'administrative_segregation',
 'bring_back',
 'pamper',
 'manumit',
 'politics',
 'decease',
 'proline',
 'mention',
 'sr',
 'oftenly',
 'pedestal',
 'constitute',
 'dockage',
 'megabyte',
 'protrude',
 'garner',
 'participation',
 'natural_process',
 'take_away',
 'embarrass',
 'showcase',
 'dilute',
 'algorithm',
 'butt',
 'bareass',
 'runnel',
 'aggrandize',
 'flimsy',
 'britanny',
 'impulse',
 'come_to',
 'brush_off',
 'enrollment',
 'hare',
 'elevate',
 'camiknickers',
 'come_about',
 'con',
 'traverse',
 'buffet',
 'al_qaeda',
 'swallow',
 'old_fashioned',
 'whole_tone',
 'posture',
 'feat',
 'rehi',
 'right_angle',
 'afforest',
 'issue_forth',
 'concerted',
 'connectedness',
 'ataraxis',
 'distaff',
 'lapse',
 'transversal',
 'purpose',
 'distribute',
 'wizard',
 'prepositus',
 'polarity',
 'ersatz',
 'first_class_honours_degree',
 'dematerialize',
 'provost',
 'measureless',
 'trash',
 'baccy',
 'bloom',
 'right_to_vote',
 'crusade',
 'exploitation',
 'articulate',
 'schism',
 'nowaday',
 'i',
 'adjudicate',
 'state_of_israel',
 'crimination',
 'financial_backing',
 'blastoff',
 'unsustained',
 'dormitory',
 'enlist',
 'salvage',
 'united_kingdom',
 '1st',
 'underprop',
 'dr_congo',
 'wargame',
 'john_rock',
 'have_high_regard_for',
 'gaolbreak',
 'agitate',
 'eminent',
 'timeline',
 'maiden_over',
 'embolden',
 'sixer',
 'cognitive_operation',
 'die_out',
 'frame',
 'twitch',
 'prison_term',
 'labor_union',
 'misfortune',
 'deferred_payment',
 'tenseness',
 'hark_back',
 'affirm',
 'backstage',
 'military_position',
 'proud',
 'break_away',
 'fall_out',
 'fall_apart',
 'countryman',
 'water_down',
 'bazaar',
 'turn_loss',
 'accession',
 'deserve',
 'personate',
 'inconclusive',
 'diminish',
 'avert',
 'rock_candy',
 'hydroxyl_acid',
 'tincture',
 'lousy',
 'cccp',
 'interrupt',
 'communist_china',
 'fashionable',
 'idle',
 'parting',
 'slap',
 'hexad',
 'lump',
 'rip',
 'alice',
 'platform',
 'assert',
 'each',
 'uracil',
 'bring_forth',
 'finglish',
 'scotch',
 'seeland',
 'diminution',
 'arithmetic_mean',
 'asylum',
 'jacket',
 'wipe_out',
 'crumble',
 'prop',
 'uniting',
 'spectre',
 'lines',
 'cathexis',
 'prospect',
 'soundbox',
 'morose',
 'av',
 'dm',
 'abominable',
 'in_advance',
 'mgt',
 'predominate',
 'broach',
 'residential_district',
 'garbage',
 'marketplace',
 'koweit',
 'prisoners_bars',
 'stoned',
 'good_luck',
 'termination',
 'ferment',
 'be_known_as',
 'animate_being',
 'straddle',
 'devise',
 'crown_of_thorns',
 'neglect',
 'toss_off',
 'round_trip',
 'in_operation',
 'serve_up',
 'get_going',
 'item',
 'runlet',
 'grievous_bodily_harm',
 'automatonlike',
 'baggy',
 "planck's_constant",
 'wee',
 'collar',
 'proceeds',
 'preclude',
 'particular_proposition',
 'father_god',
 'reenact',
 'throw_out',
 'become_flat',
 'intimacy',
 'probable',
 'sith',
 'kingdom_of_spain',
 'twelve',
 'unfettered',
 'declamatory',
 'scrap',
 'soil',
 '1000000000',
 'ten_spot',
 'scale_leaf',
 'proc',
 'chiefery',
 'take_up',
 'unkiddingly',
 'trouble',
 'prime_number',
 'casing',
 'dictatorialism',
 'be_able_to',
 'headliner',
 'shade',
 'abide',
 'dumping',
 'stay_put',
 'economize',
 'bring_out',
 'circulate',
 'peeps',
 'gratuitous',
 'make_buy',
 'executive_director',
 'insinuate',
 'essence',
 'meditation',
 'disc',
 'reclaim',
 'armorial_bearing',
 'overspread',
 'gravely',
 'pride',
 'mind',
 'racial_extermination',
 'authorities',
 'emit',
 'terminology',
 'juncture',
 'senseless',
 'amongst_other_things',
 'complimentary',
 'fledge',
 'unitary',
 'call_option',
 'dodgy',
 'deficiency',
 'impeach',
 'companionship',
 'nontaxable',
 'roll_in_hay',
 'smear',
 'two_hundred',
 'state_police',
 'adorn',
 'depreciate',
 'fractious',
 'whatsoever',
 'oblique',
 'declension',
 'modeling',
 'orb',
 'without',
 'dapple',
 'exemplify',
 'commend',
 'nascent',
 'come_to_end',
 'decrease',
 'yielding',
 'these_days',
 'brotherhood',
 'hydroxilic_acid',
 'severe',
 'do_work',
 'dissociate',
 'white_house',
 'affliction',
 'wavering',
 'asterisk',
 'nondescript',
 'friar',
 'flank',
 'inaugurate',
 'buddy',
 'dopesauce',
 'floor',
 'conk',
 'maid',
 'stuff',
 'they',
 'vernacular',
 'terzetto',
 'stall',
 'doing',
 'devote',
 'general_officer',
 'go_in',
 'agone',
 'reenforcement',
 'no_amount',
 'verge',
 'detention',
 'flying',
 'constabulary',
 'representing',
 "shoemaker's_last",
 'berth',
 'north_german_confederation',
 'slant',
 'oddment',
 'cudgel',
 'military_campaign',
 'cremate',
 'astronomist',
 'vest',
 'caser',
 'edge',
 'inelasticity',
 'gotthold_ephraim_lessing',
 'conglutination',
 'dignify',
 'cush_cush',
 'ice_cream_cone',
 'yard',
 'unpackaged',
 'chelek',
 'teardrop',
 'butt_on',
 'monetary_value',
 'os',
 'transgress',
 'endangerment',
 'glasshouse',
 'cop_it',
 'brand_new',
 'square_metre',
 'some_extent',
 'new_high_german',
 'funner',
 'aftereffect',
 'pyrotechnic',
 'send_for',
 'come_across',
 'serenity',
 'dollar_bill',
 'silly',
 'take_hold',
 'state_trooper',
 'formulator',
 'alfred_bernhard_nobel',
 'police_service',
 'gridiron',
 'well_intentioned',
 'assail',
 'record_book',
 'badly',
 'airs',
 'sportfishing',
 'touchstone',
 'laminitis',
 'affected_role',
 'inky',
 'habit',
 'authorized',
 'commoner',
 'usual',
 'tithe',
 'choke',
 'crown_attorney',
 'impression',
 'recoil',
 'military_headquarters',
 'opaquest',
 'feast',
 'recess',
 'brigham_young',
 'leverage',
 'clothes',
 'tuk_tuk',
 'role_model',
 'tint',
 'tenth',
 'faith',
 'liquid_ecstasy',
 'renovate',
 'indiscreet',
 'phase_modulation',
 'tungsten',
 'broil',
 'freshly',
 'footy',
 'stance',
 'crusty',
 'lay_off',
 'ordered_series',
 'stage_business',
 'firstly',
 'monarchy',
 'french_republic',
 'pour_down',
 'ane',
 'admirable_crichton',
 'embark',
 'mannequin',
 'bargain',
 'saturnia_pavonia',
 'yesteryear',
 'all_kidding_aside',
 'dominance',
 'apprehend',
 'push_forward',
 'governing',
 'spouse',
 'coinage',
 'unrecorded',
 'utilise',
 'hang_onto',
 'administrator',
 'ulterior',
 'implosion_therapy',
 'cross_fertilize',
 'drop_dead',
 'selvedge',
 'gin',
 'emperor_butterfly',
 'defendant',
 'donjon',
 'expenditure',
 'dexter',
 'unfavorable',
 'fretful',
 'defective',
 'ledger',
 'file',
 'ailing',
 'trio',
 'take_out',
 'dish',
 'diadem',
 'ternary',
 'take_leak',
 'take_field',
 'disengage',
 'incidental',
 'impost',
 'deficient',
 'explication',
 'scratch_line',
 'stead',
 'kick_bucket',
 'think_well_of',
 'neighborly',
 'fl',
 'populace',
 ...}