In [6]:
import pandas as pd

# obtener sinonimos

In [7]:
synonyms=dict()

In [8]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [9]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [10]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [11]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [12]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [13]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [14]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                            Synonym
0             sale  {sale, sales_agreement, sales_event, cut_rate_...
1             make  {relieve_oneself, produce, urinate, pretend, p...
2              pay  {pay_up, ante_up, compensate, fee, remuneratio...
3            yukos                                            {yukos}
4               27                          {27, twenty_seven, xxvii}
...            ...                                                ...
98153         wall  {wall, chandelier, paries, rampart, surround, ...
98154  snowboarder                                      {snowboarder}
98155         leap  {saltation, pronk, jump_off, bound, leaping, p...
98156   fearlessly              {dauntlessly, intrepidly, fearlessly}
98157         snow  {blow, snowfall, snow, coke, charlie, baron_sn...

[98158 rows x 2 columns]

In [15]:
for index,strings in df_syn.iterrows():
    synonyms[strings['word']]=strings['Synonym']

In [16]:
len(synonyms)

25181

In [17]:
df = pd.DataFrame([[key, synonyms[key]] for key in synonyms.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# Creación de pickle con hiperonimos

In [58]:
hyperonimos=dict()

In [59]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [60]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [61]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [62]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [63]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [64]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyperonympickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [65]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {reduced_price, cheap_products, agreement, sto...
1                make  {kind, identification, doing, brand, utility, ...
2                 pay  {money_owed, agreement, job_check, employee_mo...
3               yukos                                    {yuko, company}
4                  27                                                 {}
...               ...                                                ...
104934           lave  {launder, pour, hang, rest, crowd, belive, lad...
104935         remain  {still_here, human_being, await, still, whats,...
104936  take_breather  {pause, relax, catch_one's_breath, get_some_ai...
104937   eternal_rest                                                 {}
104938      remaining                                  {remain, remnant}

[104939 rows x 2 columns]

In [66]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [67]:
len(hyperonimos)

22365

In [68]:
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Hyponyms

In [69]:
hyponyms=dict()

In [70]:
for i in range(8):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTE3/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [71]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTE3/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [72]:
for i in range(8):
    try:
        temp = pd.read_pickle('salida/nuevo3/GHS/GHS_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [73]:
for i in range(5):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [74]:
for i in range(45):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [75]:
for i in range(50):
    try:
        temp = pd.read_pickle('salida/nuevo3/SICK/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [76]:
df_syn = df_syn.reset_index(drop=True)
df_syn

,word,Hyponym
0,sale,"{presale, upsale, nonsale, salesperson, condit..."
1,make,"{matchless, makable, make_king, create_by_ment..."
2,pay,"{go_for_haircut, payware, paypal, keep_things_..."
3,yukos,{}
4,27,{}
...,...,...
115052,baron_snow_of_leicester,{}
115053,snowfall,{snowfalls}
115054,coke,"{coky, cokehead, biocoke, cokeless, mexicoke, ..."
115055,bamboozle,"{bamboozled, bamboozling, bamboozles, bamboozl..."
115056,charlie,"{charley, charlieplexing, charlies, charley_ho..."

In [77]:
for index,strings in df_syn.iterrows():
    hyponyms[strings['word']]=strings['Hyponym']

In [78]:
len(hyponyms)

23424

In [79]:
df = pd.DataFrame([[key, hyponyms[key]] for key in hyponyms.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# cargar los conjuntos de sinonimia

In [18]:
dict_syns = dict()

In [19]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {ante_up, compensate, pay_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {xxvii, 27, twenty_seven}
...               ...                                                ...
25176         hospice                                          {hospice}
25177      prformance                                       {prformance}
25178       interlace                      {interlace, intertwine, lock}
25179       chilldren                                        {chilldren}
25180  absentmindedly  {inattentively, absently, absentmindedly, abst...

[25181 rows x 2 columns]

In [20]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [21]:
len(dict_syns)

25181

# agregar diccionario de sinonimos del SNLI DEV y TEST

In [22]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [23]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [24]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {pay_up, compensate, ante_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {27, twenty_seven, xxvii}
...               ...                                                ...
236374        gondola             {car, gondola, cable_car, gondola_car}
236375         ragged                             {mean, ragged, shabby}
236376  accompaniment  {accessory, accompaniment, co_occurrence, ento...
236377       dishevel  {tousle, dishevel, jostle, tangle, ruffle, dis...
236378           kite                                     {kite, sentry}

[236379 rows x 2 columns]

In [25]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [26]:
len(dict_syns)

25181

In [27]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# actualizar hyperonimos con SNLI DEV y TEST

In [43]:
hyperonimos=dict()

In [44]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

                      word                                          Hyperonym
0                     sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                     make  {move, means_manufacture, name, excrete, trave...
2                      pay  {monies, give_fee, exchange_money, work_money,...
3                    yukos                                    {company, yuko}
4                       27                                                 {}
...                    ...                                                ...
22360           okra_plant        {vegetable_plant, crop_plant, mallow_order}
22361  hibiscus_esculentus                                                 {}
22362                gumbo  {vegetable, capsule, edible, okra, soil, plant...
22363        lady's_finger  {branchia, potato, kidney_vetch, cake, lobster...
22364               bhindi                           {edible, capsule, plant}

[22365 rows x 2 columns]

In [46]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [47]:
len(hyperonimos)

22365

In [48]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [49]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [50]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                 word                                          Hyperonym
0                sale  {off, cheap_prices, on_offer, in_shops, bargai...
1                make  {move, means_manufacture, name, excrete, trave...
2                 pay  {monies, give_fee, exchange_money, work_money,...
3               yukos                                    {company, yuko}
4                  27                                                 {}
...               ...                                                ...
459035  social_dancer                                                 {}
459036  terpsichorean                      {terpsichore, dance, dancing}
459037  exotic_dancer      {belly_dancer, exotic, pole_dancer, stripper}
459038    terpsichore  {muses, dramatic, dance, mnemosyne, chorus, as...
459039           kite  {soar, flier, deben, has_string, brill, child,...

[459040 rows x 2 columns]

In [51]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [52]:
len(hyperonimos)

27765

In [53]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# Actualizar Hyponyms con SNLI TEST y DEV

In [54]:
hyponimos=dict()

In [55]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

                  word                                            Hyponym
0                 sale  {rummage_sale, salesbook, for_sale, saleabilit...
1                 make  {makeweight, fashion, lay_down, incorporate, m...
2                  pay  {paidest, paysite, spend, prepay, underpay, re...
3                yukos                                                 {}
4                   27                                                 {}
...                ...                                                ...
23419        inform_on                                                 {}
23420       fingerbang  {fingerbangs, fingerbanging, fingerbanged, fin...
23421           heyday                          {heydays, heydey, hayday}
23422  king_of_insects                                                 {}
23423        bee_block                                                 {}

[23424 rows x 2 columns]

In [56]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [57]:
len(hyponimos)

23424

In [58]:
for i in range(10):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/DEV/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [59]:
for i in range(10):
    try:
        temp = pd.read_pickle('salida/nuevo3/SNLI/TEST/TEST_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [60]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                word                                            Hyponym
0               sale  {rummage_sale, salesbook, for_sale, saleabilit...
1               make  {makeweight, fashion, lay_down, incorporate, m...
2                pay  {paidest, paysite, spend, prepay, underpay, re...
3              yukos                                                 {}
4                 27                                                 {}
...              ...                                                ...
483592  romantically                                                 {}
483593          teal   {bluewing, garganey, tealness, teals, greenwing}
483594        busker                                          {buskers}
483595        tousle  {touzle, tousled, untousle, tousles, tousle_he...
483596          kite  {kitefin, parakite, check_kiting, sport_kite, ...

[483597 rows x 2 columns]

In [61]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [62]:
len(hyponimos)

30514

In [63]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# agregar sinonimos del TRAIN SNLI

In [28]:
dict_syns=dict()

In [29]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {ante_up, compensate, pay_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {27, twenty_seven, xxvii}
...               ...                                                ...
25176         hospice                                          {hospice}
25177      prformance                                       {prformance}
25178       interlace                      {interlace, intertwine, lock}
25179       chilldren                                        {chilldren}
25180  absentmindedly  {inattentively, absently, absentmindedly, abst...

[25181 rows x 2 columns]

In [30]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [31]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [32]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                            Synonym
0             sale  {sale, sales_agreement, sales_event, cut_rate_...
1             make  {relieve_oneself, produce, urinate, pretend, p...
2              pay  {ante_up, pay_up, compensate, fee, remuneratio...
3            yukos                                            {yukos}
4               27                          {xxvii, 27, twenty_seven}
...            ...                                                ...
438405     hospice                                          {hospice}
438406  prformance                                       {prformance}
438407   interlace                      {interlace, intertwine, lock}
438408   chilldren                                        {chilldren}
438409     terrace                  {terrace, terrasse, patio, bench}

[438410 rows x 2 columns]

In [33]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [34]:
len(dict_syns)

25181

In [35]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# actualizar hiperonimos de SNLI TRAIN

In [13]:
hyperonimos=dict()

In [14]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

               word                                          Hyperonym
0              sale  {shopping_bargain, store_clearance, solicitati...
1              make  {enact, force, pass, identification, virginity...
2               pay  {employee, cash_credit, for_work, settle_bill,...
3             yukos                                    {yuko, company}
4                27                                                 {}
...             ...                                                ...
27760  romantically                                         {romantic}
27761        busker  {street, entertaining, busk, entertainer, stre...
27762   gondola_car                                      {freight_car}
27763      dishevel                                          {upheave}
27764        shabby  {worn, paltry, torn, shab, mean, unkempt, desp...

[27765 rows x 2 columns]

In [15]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [16]:
len(hyperonimos)

27765

In [18]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [19]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                     word                                          Hyperonym
0                    sale  {shopping_bargain, store_clearance, solicitati...
1                    make  {enact, force, pass, identification, virginity...
2                     pay  {employee, cash_credit, for_work, settle_bill,...
3                   yukos                                    {yuko, company}
4                      27                                                 {}
...                   ...                                                ...
839999             galosh  {rain, wet, waterproof, muddy, snow, galoshe, ...
840000             golosh                                           {galosh}
840001  north_frigid_zone                                                 {}
840002        north_polar                                                 {}
840003        arctic_zone                                                 {}

[840004 rows x 2 columns]

In [20]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [21]:
len(hyperonimos)

42590

In [22]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# agregar hiponimos del SNLI TRAIN

In [23]:
hyponimos=dict()

In [24]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

               word                                            Hyponym
0              sale  {telesale, auction, sales_target, sale_goer, s...
1              make  {short_circuit, premake, make_fray, formake, c...
2               pay  {refund, spend, payment, payless, paybook, pay...
3             yukos                                                 {}
4                27                                                 {}
...             ...                                                ...
30509         gorup                                                 {}
30510         junpe                                                 {}
30511  romantically                                                 {}
30512        busker                                          {buskers}
30513        tousle  {tousles, touzle, tousel, tousle_headed, retou...

[30514 rows x 2 columns]

In [25]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [26]:
len(hyponimos)

30514

In [27]:
for i in range(55):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/SNLI/TRAIN10000/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [28]:
df_syn = df_syn.reset_index(drop=True)
df_syn

              word                                            Hyponym
0             sale  {telesale, auction, sales_target, sales_pitch,...
1             make  {short_circuit, make_fray, premake, formake, p...
2              pay  {refund, spend, payment, payless, paybook, pay...
3            yukos                                                 {}
4               27                                                 {}
...            ...                                                ...
934114      unlock  {reunlock, unlocker, ride_bicycle, unlockable,...
934115     hospice                             {nonhospice, hospices}
934116  prformance                                                 {}
934117   interlace  {deinterlace, interlacement, interlaced, inter...
934118   chilldren                                                 {}

[934119 rows x 2 columns]

In [29]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [30]:
len(hyponimos)

48755

In [31]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")

# Agregar sinonimos del corpus RTEGLUE

In [36]:
dict_syns=dict()

In [37]:
df_sinonimos=pd.read_pickle("salida/nuevo3/Synonyms.pickle")
df_sinonimos

                 word                                            Synonym
0                sale  {sale, sales_agreement, sales_event, cut_rate_...
1                make  {relieve_oneself, produce, urinate, pretend, p...
2                 pay  {ante_up, compensate, pay_up, fee, remuneratio...
3               yukos                                            {yukos}
4                  27                          {27, twenty_seven, xxvii}
...               ...                                                ...
25176         hospice                                          {hospice}
25177      prformance                                       {prformance}
25178       interlace                      {interlace, intertwine, lock}
25179       chilldren                                        {chilldren}
25180  absentmindedly  {inattentively, absently, absentmindedly, abst...

[25181 rows x 2 columns]

In [38]:
for index,strings in df_sinonimos.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [39]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Synonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [40]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTEGLUE/DEV_'+str(i+1)+'.csv_Synonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [41]:
df_syn = df_syn.reset_index(drop=True)
df_syn

            word                                            Synonym
0           sale  {sale, sales_agreement, sales_event, cut_rate_...
1           make  {relieve_oneself, produce, urinate, pretend, p...
2            pay  {ante_up, compensate, pay_up, fee, remuneratio...
3          yukos                                            {yukos}
4             27                          {27, twenty_seven, xxvii}
...          ...                                                ...
54447    regimen                        {medicine, regimen, regime}
54448  ljubljana                                        {ljubljana}
54449  kozlowski                                        {kozlowski}
54450     swartz                                           {swartz}
54451     parkin                                           {parkin}

[54452 rows x 2 columns]

In [42]:
for index,strings in df_syn.iterrows():
    dict_syns[strings['word']]=strings['Synonym']

In [43]:
len(dict_syns)

29102

In [44]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, dict_syns[key]] for key in dict_syns.keys()], columns=['word', 'Synonym'])
df.to_pickle("salida/nuevo3/Synonyms.pickle")

# Agregar hiperonimos del RTEGLUE

In [45]:
hyperonimos=dict()

In [46]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyperonyms.pickle")
df_hyp

,word,Hyperonym
0,sale,"{discount, for_sell, occasion, cheap_price, di..."
1,make,"{general, see, brand, car, be, indicate, stuff..."
2,pay,"{money_for, employment, buying_things, work_fo..."
3,yukos,"{yuko, company}"
4,27,{}
...,...,...
42585,daffo,{}
42586,research_octane_number,"{antiknock, octane_number, octane_rating}"
42587,hospice,"{monastic, housing, medical_care, order, lodgi..."
42588,prformance,{}
42589,chilldren,{}

In [47]:
for index,strings in df_hyp.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [48]:
len(hyperonimos)

42590

In [49]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyperonym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [50]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyperonym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [51]:
df_syn = df_syn.reset_index(drop=True)
df_syn

                  word                                          Hyperonym
0                 sale  {discount, for_sell, occasion, cheap_price, di...
1                 make  {general, see, brand, car, indicate, stuff, be...
2                  pay  {money_for, employment, buying_things, work_fo...
3                yukos                                    {yuko, company}
4                   27                                                 {}
...                ...                                                ...
89269  as_often_as_not  {frequently, more_often_than_not, always, ofte...
89270        ljubljana                                   {city, slovenia}
89271        kozlowski                                                 {}
89272           swartz                                                 {}
89273           parkin  {oatmeal, protein, parkinson, traditional, par...

[89274 rows x 2 columns]

In [52]:
for index,strings in df_syn.iterrows():
    hyperonimos[strings['word']]=strings['Hyperonym']

In [53]:
len(hyperonimos)

46524

In [54]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyperonimos[key]] for key in hyperonimos.keys()], columns=['word', 'Hyperonym'])
df.to_pickle("salida/nuevo3/Hyperonyms.pickle")

# agregar hiponimos del RTEGLUE

In [55]:
hyponimos=dict()

In [56]:
df_hyp=pd.read_pickle("salida/nuevo3/Hyponyms.pickle")
df_hyp

                  word                                            Hyponym
0                 sale  {sales_pitch, yardsale, conditional_sale, for_...
1                 make  {press, meck, mackly, overdo, render, construc...
2                  pay  {kick_back, pay_up, paysite, payrise, payline,...
3                yukos                                                 {}
4                   27                                                 {}
...                ...                                                ...
48750      libertarian  {nonlibertarian, glibertarian, liberaltarian, ...
48751  eleutheromaniac                                 {eleutheromaniacs}
48752          hospice                             {nonhospice, hospices}
48753       prformance                                                 {}
48754        chilldren                                                 {}

[48755 rows x 2 columns]

In [57]:
for index,strings in df_hyp.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [58]:
len(hyponimos)

48755

In [63]:
for i in range(1):
    if i==0:
        df_syn = pd.read_pickle('salida/nuevo3/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
    else:
        try:
            temp = pd.read_pickle('salida/nuevo3/RTEGLUE/TRAIN_'+str(i+1)+'.csv_Hyponym.pickle')
            df_syn=pd.concat([df_syn,temp])
        except:
            pass

In [64]:
for i in range(1):
    try:
        temp = pd.read_pickle('salida/nuevo3/RTEGLUE/DEV_'+str(i+1)+'.csv_Hyponym.pickle')
        df_syn=pd.concat([df_syn,temp])
    except:
        pass

In [65]:
df_syn = df_syn.reset_index(drop=True)
df_syn

             word                                            Hyponym
0            sale  {sales_pitch, yardsale, conditional_sale, for_...
1            make  {press, meck, mackly, overdo, construct, rende...
2             pay  {kick_back, pay_up, paysite, payrise, payline,...
3           yukos                                                 {}
4              27                                                 {}
...           ...                                                ...
101201  ljubljana                            {ljubljanan, lyublyana}
101202     fantan                                                 {}
101203  kozlowski                                                 {}
101204     swartz                                        {swartzite}
101205     parkin                                          {parkins}

[101206 rows x 2 columns]

In [66]:
for index,strings in df_syn.iterrows():
    hyponimos[strings['word']]=strings['Hyponym']

In [67]:
len(hyponimos)

52310

In [68]:
# actualizamos el dataframe de los conjuntos
df = pd.DataFrame([[key, hyponimos[key]] for key in hyponimos.keys()], columns=['word', 'Hyponym'])
df.to_pickle("salida/nuevo3/Hyponyms.pickle")